/** 
 * Header stuff from CJP
 */

#header {
  box-shadow:inset rgba(0,50,100,.5) 0 -50px 50px -50px;
  background: rgb(51,102,153); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(51,102,153,1) 0%, rgba(100,153,200,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,102,153,1)), color-stop(100%,rgba(100,153,200,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(51,102,153,1) 0%,rgba(100,153,200,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(51,102,153,1) 0%,rgba(100,153,200,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(51,102,153,1) 0%,rgba(100,153,200,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(51,102,153,1) 0%,rgba(100,153,200,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336699', endColorstr='#7799bb',GradientType=0 ); /* IE6-9 */
  height: 40px;
}

#header div {
  display: inline-block;
  height: inherit;
}
#header .logo {
  position:relative; margin:0; vertical-align:top; padding:10px 50px; font-size:125%; color:#fff;
  background: -moz-linear-gradient(-25deg,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,0.2) 90.2%, rgba(0,0,0,0) 91.5%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(90%,rgba(0,0,0,1)), color-stop(90.2%,rgba(0,0,0,0.2)), color-stop(91.5%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-25deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.2) 90.2%,rgba(0,0,0,0) 91.5%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-25deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.2) 90.2%,rgba(0,0,0,0) 91.5%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-25deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.2) 90.2%,rgba(0,0,0,0) 91.5%); /* IE10+ */
  background: linear-gradient(115deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,0.2) 90.2%,rgba(0,0,0,0) 91.5%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#jenkins-head-icon {
  position: absolute;
  bottom: 0px;
}

body #header #jenkins-name-icon strong {display:block; float:left; padding:2px 0 2px 10px;  }
body #header #jenkins-name-icon span {display:block; float:left; padding:2px .5em;}
body #header #jenkins-head-icon{ display:block; position:absolute; bottom:0; left:15px; height:37px; width:37px;}  
