<form class='currently-editing' data-action-id='{{actionId}}'>
  {{{editorHtml}}} 
</form> 
<button class='btn btn-primary close-editor-popover' data-action-id='{{actionId}}'>OK</button>
<!--<button class='btn btn-default'>Delete</button>-->
