<div class="col-md-3">
  <div class="row">
      <div class="col-md-9">
        <ul class="list-unstyled">
            {{{subStages}}} {{{streamButton}}}          
        </ul>   
      </div>
      <div class="col-md-3" >
        <button id="{{currentId}}_joiner" class="list-group-item open-add-stage">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
      </div>
      
</div>
