<div class="input-group">
    <input id="newStageName" type="text" class="form-control" placeholder="New Stage Name">
    <span class="input-group-btn"><button id="addStageBtn" class="btn btn-default">OK</button></span>
</div>