<div class="input-group">    
    <button id="toggleParallel-{{stageId}}" class="btn btn-default">Toggle Parallel</button>
    <button id="cancelStageConfig-{{stageId}}" class="btn btn-default">Cancel</button>
</div>
 
