<div class="col-md-3 edit-mode">
    <button class="btn btn-default btn-block open-add-stage">
        <span class="glyphicon glyphicon-plus"></span> <span class="opaque-text">Add stage</span>
    </button>
    <div id="add-stage-popover" data-placement="bottom"></div>
</div>