<div class="input-group">
    <input id="newStepName-{{stageId}}" type="text" class="form-control" placeholder="Step Name">
    <span class="input-group-btn"><button id="addStepBtn-{{stageId}}" class="btn btn-default">OK</button></span>
</div>