<div class="input-group">
    <input id="newStreamName-{{stageId}}" type="text" class="form-control" placeholder="New Parallel Branch Name">
    <span class="input-group-btn"><button id="addStreamBtn-{{stageId}}" class="btn btn-default">OK</button></span>
</div>