<button class="list-group-item open-add-stream edit-mode" data-stage-id="{{stageId}}">
    <span class="glyphicon glyphicon-plus"></span> <span class="opaque-text">Add parallel branch</span>
</button>

<div id="add-stream-popover-{{stageId}}" data-placement="bottom"></div>
